git+https://github.com/behave/behave@v1.2.7.dev6#egg=behave
selenium>=4.29.0
webdriver-manager>=4.0.2
geckodriver-autoinstaller>=0.1.0
junitparser>=3.2.0
#authlib>=1.3.1
requests>=2.32.3
beautifulsoup4>=4.12.3
boto3>=1.37.7
stac-api-validator>=0.6.4
stac-validator>=3.6.0
#git+https://github.com/vprivat-ads/stac-api-validator.git@fix_http_calls_in_stac_validator#egg=stac-api-validator
#git+https://github.com/vprivat-ads/stac-validator.git@http_headers#egg=stac-validator
opentelemetry-instrumentation-asyncio==0.52b0
opentelemetry-instrumentation-httpx==0.52b0
pyprof2calltree>=1.4.5
rs-client-libraries>=0.2a11
