git+https://github.com/behave/behave@v1.2.7.dev8#egg=behave
selenium>=4.34.2
webdriver-manager>=4.0.2
geckodriver-autoinstaller>=0.1.0
junitparser>=4.0.2
#authlib>=1.3.1
requests>=2.32.4
beautifulsoup4>=4.13.4
boto3>=1.39.15
pystac-client>=0.9.0
stac-api-validator>=0.6.6
stac-validator>=3.10.1
stac-validator[pydantic]>=3.10.1
stac-check>=1.11.1
#git+https://github.com/vprivat-ads/stac-api-validator.git@fix_http_calls_in_stac_validator#egg=stac-api-validator
#git+https://github.com/stac-utils/stac-api-validator.git@main#egg=stac-api-validator
#git+https://github.com/vprivat-ads/stac-validator.git@http_headers#egg=stac-validator
#git+https://github.com/vprivat-ads/stac-check.git@fix/relax-bbox-check#egg=stac-check
opentelemetry-instrumentation-asyncio>=0.57b0
opentelemetry-instrumentation-httpx>=0.57b0
opentelemetry-instrumentation-requests>=0.57b0
pyprof2calltree>=1.4.5
#rs-client-libraries>=0.2a12
git+https://github.com/RS-PYTHON/rs-client-libraries.git@develop#egg=rs-client-libraries
